/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
}

img {
    width: 100px;
}
.hello{
    background-image: url("https://wallpapers.com/images/featured/mvehfqz6w2ges2dj.jpg");
}
.hy{
    background-image: url("https://media.istockphoto.com/id/531253600/photo/sunrise.jpg?s=612x612&w=0&k=20&c=gdlZaKWcTjW1hmTRN8veqYIV25O4OfN4MhNx2H5Rgnk=");
    padding-bottom: 0px;
    
}
.hii{
 display: flex;
 align-items: center;
}
.yup{
    background-image: url("https://static.vecteezy.com/system/resources/previews/002/677/459/original/nature-of-fresh-green-leaf-on-blurred-greenery-background-and-sun-with-copy-space-for-text-natural-green-plant-for-environment-ecology-and-fresh-concept-using-as-background-cover-page-and-wallpaper-free-photo.jpg");
    padding-top:10px;
    padding-bottom: 10px;
}

body {
    margin: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    border: 1px dotted blue;
    padding: 20px;
    display: flex;
    text-align: center;
    background: #ddebf8;
    color: ff477e;
    border-bottom: 6px solid #d8cefe;
    margin: 0px auto;
    
}
.ee{
    padding-top:10px;
}
.rr{
    padding-left: 15px;
}
.hie{
   font-family:Verdana, Geneva, Tahoma, sans-serif ;
}
.him{
    padding: 10px 10px;
    width:600px;
   
}